$corFundo: aquamarine;
$corFonte: aliceblue;

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-color: $corFundo;
    color: $corFonte;
}

footer{
    background-color: $corFundo;
    color: $corFonte;
}

nav {
    background-color: $corFundo;
    
}